{
  "version": 6,
  "include": [
    "CMakePresets.json"
  ],
  "configurePresets": [
    {
      "name": "local-windows-x64-debug",
      "inherits": "windows-x64-debug",
      "environment": {
        "VCPKG_ROOT": "${sourceDir}/out/vcpkg"
      }
    },
    {
      "name": "local-windows-x64-release",
      "inherits": "windows-x64-release",
      "environment": {
        "VCPKG_ROOT": "${sourceDir}/out/vcpkg"
      }
    }
  ]
}
